.usertoolbar
	.centerarrow
	ul.toolbaricon
		li.toolbaricon
			a(href="/story")
				.toolbarpic.toolbar1
				h4.toolbartext Novels
		li.toolbaricon
			a(href="/story")
				.toolbarpic.toolbar2
				h4.toolbartext Feed
		li.toolbaricon
			a(href="/story")
				.toolbarpic.toolbar3
				h4.toolbartext Team
		li.toolbaricon
			a(href="/story")
				.toolbarpic.toolbar4
				h4.toolbartext ???
		li.toolbaricon
			a(href="/story")
				.toolbarpic.toolbar5
				h4.toolbartext ???
		li.toolbaricon
			a(href="/story")
				.toolbarpic.toolbar6
				h4.toolbartext Profile

