!!!
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
	script(type="text/javascript", src="/bootstratp/js/bootstrap.js")
	body!= body
