!!!
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
	link(href="/stylesheets/extensions.css", media="screen", rel="stylesheet", type="text/css")
	link(href="/stylesheets/visualnovel.css", media="screen", rel="stylesheet", type="text/css")	
	script(type="text/javascript", src="/javascripts/jquery/jquery.js")
	script(type="text/javascript", src="/javascripts/application.js")
	script(type="text/javascript", src="/bootstrap/js/bootstrap.js")
	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/javascripts/flotile/tooltip.js")
	script(type="text/javascript", src="/javascripts/ga.js")
	script(type="text/javascript", src="/javascripts/flotile/flotile.js")
	script(type="text/javascript", src="/javascripts/flotile/flotile-bridge.js")
	script(type='text/javascript")
		var socket = io.connect('http://localhost:3000');
	body
		.navbar
			.navbar-fixed-top
				.navbar-inner
					.container
						a.brand(href="/") 
							img.logo(src="/images/logo.png", alt="ffopenvn logo")
							#{title}				
						ul.nav
							- if (player )
								li.active
									a(href="/user/#{player._id}") #{player.name}
							li
								a(href="#") Feedback
							li
								a#refreshpage(href="#QuitVN") Quit
							- if (player)
								li
									a#signout(href="#") Sign Out
							- else
								li#signinmenu.dropdown
									a#signin.dropdown-toggle(href="#signinmenu", data-toggle="dropdown") Sign In
										b.caret
									ul.dropdown-menu.dropdown-form
										form( action="/user/login", method="post" )
											li
												h3 Email
											li
												input(type="text", placeholder="Email", name="user[email]")
											li 
												h3 Password
											li 
												input(type="password", placeholder="Password", name="user[password]")
											li
												input.btn.btn-primary(type="submit", value="Sign In")
										
							- if ( 0 == 1 )				
								li#signupmenu.dropdown
									a#signup.dropdown-toggle(href="#signupmenu", data-toggle="dropdown") Request Invite
										b.caret
									ul.dropdown-menu.signup-form
										form.signup( action="/user", method="post" )
											li
												h3 Email
											li
												input(type="text", placeholder="foxnewsnetwork@gmail.com", name="user[email]")
											li
												h3 Username
											li
												input(type="text", placeholder="xXx_-_SSJVegeta-_-xXx", name="user[name]")
											li 
												h3 Password
											li
												input(type="password", placeholder="Password", name="user[password]")
											li
												input.btn.btn-primary(type="submit", value="Sign In")
		!= body
