!!!
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
	link(href="/stylesheets/extensions.css", media="screen", rel="stylesheet", type="text/css")
	link(href="/stylesheets/visualnovel.css", media="screen", rel="stylesheet", type="text/css")	
	script(type="text/javascript", src="/javascripts/jquery/jquery.js")
	script(type="text/javascript", src="/bootstrap/js/bootstrap.js")
	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/javascripts/flotile/tooltip.js")
	script(type="text/javascript", src="/javascripts/flotile/flotile.js")
	script(type="text/javascript", src="/javascripts/flotile/flotile-bridge.js")
	script(type='text/javascript")
		var socket = io.connect('http://localhost:3000');
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-31007838-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
	body
		.navbar 
			.navbar-fixed-top
				.navbar-inner
					.container
						a.brand(href="/") #{title}				
						ul.nav
							- if (player )
								li.active
									a(href="#") Continue
							li
								a(href="#") Feedback
							li
								a(href="#") Quit
							- if (player)
								li
									a#signout(href="#") Sign Out
							- else
								li#signinmenu.dropdown
									a#signin.dropdown-toggle(href="#signinmenu", data-toggle="dropdown") Sign In
										b.caret
									ul.dropdown-menu.dropdown-form
										form( action="/user/login", method="post" )
											li
												input(type="text", placeholder="Email", name="user[email]")
											li 
												input(type="password", placeholder="Password", name="user[password]")
											li
												input(type="submit", value="Sign In")
										
											
								li#signupmenu.dropdown
									a#signup.dropdown-toggle(href="#signupmenu", data-toggle="dropdown") Sign Up
										b.caret
									ul.dropdown-menu.signup-form
										form.signup( action="/user", method="post" )
											li
												h3 Email
											li
												input(type="text", placeholder="foxnewsnetwork@gmail.com", name="user[email]")
											li
												h3 Username
											li
												input(type="text", placeholder="xXx_-_SSJVegeta-_-xXx", name="user[name]")
											li 
												h3 Password
											li
												input(type="password", placeholder="Password", name="user[password]")
											li
												input(type="submit", value="Sign In")
										

		!= body
