script(type="text/javascript", src="/javascripts/stories/show.js")
style(type="text/css")
	.invisible-stuff{ 
		visibility : hidden;
		opacity : 0;
	}
include partials/toolbar.jade
.container
	.row
		.span12(style="margin-top : 2em;")
			h1.centered #{story.title} 
			h3.centered
				a(href="/user/#{story.owner}?usertab=novel")
					-if (story.owner_name == undefined)
						#{story.owner}
					-else
						#{story.owner_name}
	.row
		#usercontent.centered
			-if ( usertab )
				- if ( usertab == "team" )
					include partials/team.jade
				- if ( usertab == "reviews" )
					include partials/reviews.jade
				- if ( usertab == "forks" )
					include partials/forks.jade	
				- if ( usertab == "credits" )
					include partials/credits.jade
				- if ( usertab == "analytics" )
					include partials/analytics.jade
				-if ( usertab == "editor" )
					include partials/editor.jade
			-else
				include partials/featured.jade
