script(type="text/javascript", src="javascripts/flotile/flotile.js")
script(type="text/javascript", src="javascripts/flotile/flotile-bridge.js")
script(type="text/javascript", src="javascripts/pages/demo.js")
script(type='text/javascript")
		CURRENT_SCENE = #{count};
style(type="text/css)
	div#thx4{ 
		width : 100%;
		height : 5em;
		text-align : center;
		background-color : rgb( 213, 200, 127 );
		border : 3px solid yellow;
		border-radius : 1em;
		-moz-border-radius : 1em;
	}
	a.same{ 
		width : 10em;
		margin-left: 1em;
	}
	p#visual-novel-dialogue{ 
		font-size : 1.5em;
		text-align : center;
		font-family : "Verdana";
		font-weight : 900;
		color : rgb(115, 35, 20);
		opacity : 1;
		word-spacing : 0.2em;
		text-shadow : 1px 1px rgb(215, 234, 105);
	}

.navbar 
	.navbar-fixed-top
		.navbar-inner
			.container
				a.brand #{title}				
.container
	.hero-unit
		h1 #{title}
		p Welcome back. Pardon the lack of dust, we're too early to have built up any.
		p
			a.btn.same(href="/stories?cat=0") Fan Fiction
			a.btn.same(href="/stories?cat=1") Original
			a.btn.same(href="/stories/new") New Story
		p	
			button#playdemo.btn.btn-primary.same Play Demo
			#signupbox
				input#email(placeholder="example@me.com")
				button#signup.btn.btn-primary.large Signup!
			
