script(type="text/javascript", src="javascripts/pages/demo.js")
script(type='text/javascript")
		CURRENT_SCENE = #{count};

.navbar 
	.navbar-fixed-top
		.navbar-inner
			.container
				a.brand #{title}				
.container
	.hero-unit
		h1 #{title}
		p Welcome back. Pardon the lack of dust, we're too early to have built up any.
		p
			a.btn.same(href="/story?cat=0") Fan Fiction
			a.btn.same(href="/story?cat=1") Original
			a.btn.same(href="/story/new") New Story
		p	
			button#playdemo.btn.btn-primary.same Play Demo
			#signupbox
				input#email(placeholder="example@me.com")
				button#signup.btn.btn-primary.large Signup!
			
