script(type="text/javascript", src="javascripts/flotile/tooltip.js")
script(type="text/javascript", src="javascripts/flotile/flotile.js")
script(type="text/javascript", src="javascripts/flotile/flotile-bridge.js")
script(type="text/javascript", src="javascripts/pages/demo.js")
link(href="/stylesheets/extensions.css", media="screen", rel="stylesheet", type="text/css")
style(type="text/css)
	a.same{ 
		width : 10em;
		margin-left: 1em;
	}
	p#visual-novel-dialogue{ 
		font-size : 1.5em;
		text-align : center;
		font-family : "Verdana";
		font-weight : 900;
	}
.navbar 
	.navbar-fixed-top
		.navbar-inner
			.container
				a.brand #{title}				
.container
	.hero-unit
		h1 #{title}
		p Welcome back. Pardon the lack of dust, we're too early to have built up any.
		p
			a.btn.same(href="#") Fan Fiction
			a.btn.same(href="#") Original
			a.btn.btn-primary.same(href="#") New Story
	.row
		#playground
			h1 stuff
