include partials/toolbar.jade
.container
	.row
		h1.centered(style="margin-top : 2%;") &raquo; #{player.name}
	.row
		#usercontent.centered
			-if ( usertab )
				- if ( usertab == "feed" )
					include partials/feed.jade
				- if ( usertab == "team" )
					include partials/team.jade
				- if ( usertab == "profile" )
					include partials/profile.jade	
				- if ( usertab == "update" )
					include partials/update.jade
				- if ( usertab == "novel" )
					include partials/novel.jade
			-else
				include partials/featured.jade
