style(type="text/css")
	.novelcover { 
		height : 250px;
		background-color : rgb(234, 222, 234);
	}
.span7
	img.novelcover(alt="story cover", src="#{story.cover}")
.span5
	p
		button#novelstart.btn.btn-primary.btn-large.obtrusive New Game &raquo; 
	p
		button#novelload.btn.btn-large.obtrusive Continue...
.hiddencontent
	input#storyid.hiddencontent(type="text", value="#{story._id}")
