.usertoolbar
	.centerarrow
	ul.toolbaricon
		li.toolbaricon
			a(href="/story")
				.toolbarpic.storybar1
				h4.toolbartext Team
		li.toolbaricon
			a(href="/story")
				.toolbarpic.storybar2
				h4.toolbartext Reviews
		li.toolbaricon
			a(href="/story")
				.toolbarpic.storybar3
				h4.toolbartext Credits
		li.toolbaricon
			a(href="/story")
				.toolbarpic.storybar4
				h4.toolbartext Forks
		li.toolbaricon
			a(href="/story")
				.toolbarpic.storybar5
				h4.toolbartext Analytics
		li.toolbaricon
			a(href="/story")
				.toolbarpic.storybar6
				h4.toolbartext Editor

